
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  tiene como objetivo ayudar a los investigadores a realizar su trabajo 
  en menos tiempo y con menos dolor al enseñarles habilidades básicas 
  de informática de investigación. 
  
  Este taller práctico cubrirá los conceptos y herramientas básicos, 
  incluidos el diseño del programa, el control de versiones, 
  la gestión de datos y la automatización de tareas. 
  Se alentará a los participantes a ayudarse mutuamente y 
  aplicar lo que han aprendido a sus propios problemas de investigación.
</p>
<p align="center">
  <em>
    Para más información sobre lo que enseñamos y por qué,
    por favor mira nuestra publicación
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
