
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  tiene como objetivo ayudar a estudiantes e investigadores a realizar su trabajo 
  en menos tiempo y de manera más eficiente al enseñarles habilidades básicas 
  de informática para la investigación. 
  
  Este taller práctico cubrirá conceptos y herramientas básicas para la investigación, 
  incluyendo el diseño de programas, control de versiones, 
  gestión de datos y automatización de tareas. 
  Se alentará a los participantes a ayudarse mutuamente y a 
  aplicar lo que han aprendido a sus propios trabajos y problemas de investigación.
</p>
<p align="center">
  <em>
    Para más información sobre lo que enseñamos y por qué,
    por favor mira nuestra publicación
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
